*{
    scroll-behavior: smooth;
    margin:0;
}

body{
    margin:0;
    padding:0;
    font-family: 'Rubik', sans-serif;
}

#headerindex{
    display:flex;
    height:100%;
    width:100%;
    top:0;
    border-bottom: solid black;
    background-image: url(accueil.jpg);
    background-size: cover;
}

#headerindex nav{
    display:inline-flex;
}

#headerindex main{
    text-align: center;
    margin-top:17%;
    width:100%;
}

#headerindex main p{
    font-size:4vw;
    color:white;
    text-shadow: black 4px 0px 20px;
    border-bottom:8px solid white;
    margin: 0px 35% 3% 35%;
    padding-bottom: 40px;
    text-transform: uppercase;
}

#headerindex main input{
    text-decoration: none;
    text-transform: uppercase;
    background-color: red;
    height:50px;
    width:240px;
    color:white;
    border:red;
    font-weight: bolder;
    font-size: 1vw;
}

:root{
    --primary-color: white;
    --overlay-color: rgba(42, 118, 180, 0.9);
    --menu-speed: 0.75s;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  .menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
  }
  
  .menu-wrap .hamburger {
    position: absolute;
    top: 14px;
    left:15px;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border:solid black;
    border-radius:50%;
  }
  
 
  .menu-wrap .hamburger > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: rgba(42, 118, 180, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
  }
  
  
  .menu-wrap .hamburger > div::before,
  .menu-wrap .hamburger > div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
  }
  

  .menu-wrap .hamburger > div::after {
    top: 10px;
  }
  

  .menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
  }
  
  .menu-wrap .toggler:checked + .hamburger > div:before,
  .menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
  }
  
 
  .menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
  }
  

  .menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
  }
  
  .menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
  }
  
  .menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition:  opacity 0.4s ease 0.4s;
  }
  
  .menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .menu-wrap .menu > div {
    
    background: var(--overlay-color);
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
  }
  
  .menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
  }
  
  .menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
  }
  
  .menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
  }

#menu{
    height:140%;
}

#menu section{
    display: flex;
    flex-direction: column;
    box-shadow: black 0px 5px 20px;
    height:800px;
    width:700px;
    margin-bottom: 5%;
    margin-top: 10%;
    align-items: center;
    margin-left:auto;
    margin-right: auto;
}

#menu section h1{
    text-align: center;
    margin-top:5%;
    margin-bottom: 3%;
    font-size:3vw;
    text-decoration: underline;
    font-weight: 900;
}

#menu section img{
    height:600px;
    width:600px;
    border:solid black;
}

#lieu{
    height:100%;
}

.box{
    margin-top:7%;
    display:flex;
    flex-direction: row;
    height:100%;
}

.box .icon{
    width:45%;
    text-align: center;
    display:flex;
    flex-direction: column;
}

.box .icon #adresse{
    width:60%;
    margin:12% auto 0 auto;
    color:black;
    display:flex;
    flex-direction: column;
    box-shadow: black 0px 5px 20px;
}

.box .icon #adresse i{
    margin-bottom: 1vw;
    margin-top: 1vw;
}

.box .icon #adresse h2{
    font-size:26px;
    text-transform: uppercase;
    margin-bottom: 1vw;
}

.box .icon #adresse h3{
    margin-bottom: 7%;
}

.box .icon #contact{
    margin:12% auto 0 auto;
    color:black;
    display:flex;
    flex-direction: column;
    width:60%;
    box-shadow: black 0px 5px 20px;
}

.box .icon #contact i{
    margin-bottom: 1vw;
    margin-top: 1vw;
}

.box .icon #contact h2{
    font-size:26px;
    text-transform: uppercase;
    margin-bottom: 1vw;
}

.box .icon #contact h3{
    margin-bottom: 7%;
}

.box .map{
    width:48%;
    height:80%;
    background-image: url(map.png);
    border:solid black;
    margin-right:1vw;
}

footer{
    display:flex;
    flex-direction: column;
    height:20%;
    width:100%;
    margin:0;
    background-color: black;
    color:white;
}

footer p{
    text-align: center;
    margin-top:1%;
    margin-bottom:1%;
    font-size: 20px;
}

footer #rs{
    width:100%;
    display:inline-flex;
    justify-content: center;
}

footer  #rs a{
    margin-right:1%;
    margin-left:1%;
    margin-top: 1%;
    color:white;
}

/* Connexion  */
.formulaireconnexion
{
    border-style:groove ;
    justify-content:space-around ;
    text-align: center;
    margin: 0 auto;
    width: 30%;
    border-radius: 10%;
    margin-top: 5%;
    margin-bottom: 10%;
    padding: 2%;
    color: whitesmoke;
    background-color:rgba(42, 118, 180, 0.9) ;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    
}

.formulaireconnexion h1
{
    color: rgba(0,0,0,0.75);
}

.formulaireconnexion h3
{
    color: whitesmoke;
}

/*  Fin connexion  */

h1
{
    text-align: center;
    text-shadow:2px 2px 2px rgba(94, 88, 88, 0.678);
}

/* PAGE INSCRIPTION */

.formulaireinscription
{
    border-style:groove ;
    justify-content:space-around ;
    text-align: center;
    margin: 0 auto;
    width: 30%;
    border-radius: 10%;
    margin-top: 5%;
    margin-bottom: 10%;
    padding: 2%;
    color: whitesmoke;
    background-color:rgba(42, 118, 180, 0.9) ;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#titreinscription
{
    text-shadow:text-shadow:2px 2px 2px rgba(94, 88, 88, 0.678);
}

/* FIN PAGE INSCRIPTION */

/*PAGE PROFIL*/

.formulaireprofil
{
    border-style:groove ;
    justify-content:space-around ;
    text-align: center;
    margin: 0 auto;
    width: 30%;
    border-radius: 10%;
    margin-top: 5%;
    margin-bottom: 12%;
    padding: 2%;
    color: whitesmoke;
    background-color:rgba(42, 118, 180, 0.9) ;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}


/* INDEX */

.box1
{
    border-style:groove ;
    justify-content:space-around ;
    text-align: center;
    margin: 0 auto;
    width: 30%;
    border-radius: 10%;
    margin-top: 5%;
    margin-bottom: 12%;
    padding: 2%;
    color: whitesmoke;
    background-color:rgba(42, 118, 180, 0.9) ;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.box2
{
    border-style:groove ;
    justify-content:space-around ;
    text-align: center;
    margin: 0 auto;
    width: 30%;
    border-radius: 10%;
    margin-top: 5%;
    margin-bottom: 12%;
    padding: 2%;
    color: whitesmoke;
    background-color:rgba(42, 118, 180, 0.9) ;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}


.box3
{
    border-style:groove ;
    justify-content:space-around ;
    text-align: center;
    margin: 0 auto;
    width: 30%;
    border-radius: 10%;
    margin-top: 5%;
    margin-bottom: 12%;
    padding: 2%;
    color: whitesmoke;
    background-color:rgba(42, 118, 180, 0.9) ;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

